<% include ./header %>
<body>
    <h1>create post</h1>
    <p><%= message %></p>
    <form action="create-post" method="POST">
        <label>Post Title <input type="text" name="title" placeholder="Enter post title here"></label>
        <label>Content <textarea name="content" cols="30" rows="10"></textarea></label>
        <button type="submit" method="POST">Post</button>
    </form>
    
</body>


<% include ./footer %>