<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css"/>
    <script src="https://unpkg.com/browse/@popperjs/core@2.9.2/" ></script>
    <script src="/bootstrap/js/bootstrap.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>

      toastr.options.timeOut = "2500";
      toastr.options.positionClass = 'toast-bottom-right';



      //Disabling form submissions if there are invalid fields
      (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
          .forEach(function (form) {
            form.addEventListener('submit', function (event) {
              if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
              }

              form.classList.add('was-validated')
            }, false)
          })
      })()
      
      //Show content on navbar item, User, onHover
      document.addEventListener("DOMContentLoaded", function()
      {
      
      if (window.innerWidth > 768) 
      {

        document.querySelectorAll('.navbar .nav-item').forEach(function(everyitem){

          everyitem.addEventListener('mouseover', function(e){

            let el_link = this.querySelector('a[data-bs-toggle]');

            if(el_link != null){
              let nextEl = el_link.nextElementSibling;
              el_link.classList.add('show');
              nextEl.classList.add('show');
            }

          });
          everyitem.addEventListener('mouseleave', function(e){
            let el_link = this.querySelector('a[data-bs-toggle]');

            if(el_link != null){
              let nextEl = el_link.nextElementSibling;
              el_link.classList.remove('show');
              nextEl.classList.remove('show');
            }


          })
        });

      }
      }); 
    </script>

    <% if (message != null) { %>

      <script>
        document.addEventListener('DOMContentLoaded', ()=> 
        {

          var message = `<%- JSON.stringify(message) %>`;
          if (message.length > 2)
          {
            //remove message container ""
          message = message.substring(1, message.length -1);
          message.toLowerCase().includes('successfully') ? toastr.success(message) : toastr.error(message);
          }
        });
        
      </script>
    <% } %>
  </head>

  <body class="container-fluid-lg">

    
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary rounded shadow">
        <div class="container-fluid">
            <a id="nav-brand" class="navbar-brand" href="#">BlogMan</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                  <% if (title.includes("All Posts") || title.includes("View Post")) { %>
                  <a class="nav-link active" aria-current="page" href="/posts">Posts</a>
                  <% } else { %>
                  <a class="nav-link" aria-current="page" href="/posts">Posts</a>  
                  <% } %>
                </li>

                <% if (title.includes("New Post")) { %>
                <li class="nav-item">
                  <a class="nav-link active" href="/create-post">Create a Post</a>
                </li>
                <% } else { %>
                  <li class="nav-item">
                    <a class="nav-link" href="/create-post">Create a Post</a>
                  </li>
                <% } %>

                
                
              </ul>

              <div class="d-flex flex-row">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item dropdown">
                    <% if (title.includes("Log in") || title.includes("Register")) { %>
                    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      User
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="/users/login">Log In</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="/users/register">Register</a></li>
                    </ul>
                    <% } else if (user == null) { %>
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      User
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="/users/login">Log In</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="/users/register">Register</a></li>
                    </ul>
                    <% } else { %>
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Hello <%= user.username %>!
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/postsByUser">Your Posts</a></li>
                        <li><a class="dropdown-item" onclick="loggedOut()" href="/users/logout">Log out</a></li>
                      </ul>
                      <% } %>
                  </li>
                </ul>
                <form method="POST" action="search" class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Search by user" aria-label="Search">
                </form>
              </div>
              
            </div>
      </div>
  </nav>