<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css"/>
    <script src="https://unpkg.com/browse/@popperjs/core@2.9.2/" ></script>
    <script src="/bootstrap/js/bootstrap.js"></script>
  </head>