<% include ./header %>

    <div class="container-lg">

        <div class="text-center mt-5">
            <img class="img-fluid mx-auto rounded-circle" style="width:40%; max-width: 270px; max-height: 270px;" src="https://64.media.tumblr.com/0db3bf45d0ed08c087250cc9e0399117/c11a49a067523931-a7/s1280x1920/39f697687ac3b161cbc840d69c8e64100ef9f516.jpg" alt="placeholder image">
        </div>
        
        <h1 style="text-align: center;">Log in</h1>
        <p style="text-align: center;"><%= message %></p>

        <form class="d-flex flex-column mx-auto" action="login" method="POST" style="max-width: 672px;">
            <label class="mb-3">Username <input class="form-control" type="text" name="username" placeholder="Username"></label>
            <label class="mb-3">Password <input class="form-control" type="password" name="password" placeholder="Password"></label>
            <button class="btn btn-primary rounded-pill" type="submit" method="POST">Log in</button>
            <nav>
                <p style="text-align: center;"><a href="/users/register">Register a New Account</a></p>
            </nav>
        </form>
    </div>
<% include ./footer %>