<% include ./header %>

<body>
    <h2>Register for an account</h2>
    <div>
        <label>Username <input type="text" name="username" placeholder="Username"></label>
        <label>Password <input type="password" name="password" placeholder="Password"></label>
        <button type="submit" method="POST">Register</button>
    </div>
</body>

<% include ./footer %>